<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bgimage">
    <div>
        <h1 style="color: black; padding-top: 0px; text-align: center;" class="head">DOCTOR LOGIN</h1><br>
 <div class="box">
  <h3 style="text-align: center; padding: 20px;" >LOGIN TO PROCEED</h3>
  <hr class="new"><br>
     <form>
        <div class="login-div" align="center">
            <table class="loginform">
                <tr>
                    <td><i class="fa fa-user icon"></i></td>
                    <td><input type="username" id="username" name="username" 
                        class="searchTextField" placeholder="Enter Username" ngModel>
                    </td>	 
                </tr><br>
                <tr>
                    <td> <i class="fa fa-key icon"></i></td>
                    <td><input type="password" id="password" name="password"
                        class="searchTextField" placeholder="Enter Password" ngModel>
                </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><br>
                    <input type="submit" value="Login" class="actionBtn" routerLink="/doctordashboard" >
                    /
                    <a role="button" routerLink="/createdoctor">CreateAccount</a>
                    </td>
                </tr>
                </table>
            </div>

     </form>
 </div>

    </div>
</div>
