<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <br><br><br><br>
    <div class="container">
        <div class="card">
         <img src="../../assets/admin.png" alt="admin" height="270px" width="270px">
         <p class="title" style="background-color:bisque;">ADMIN</p>
         <p><button routerLink="/admin">View</button></p>
        </div>
        <div class="card2">
            <img src="../../assets/doctors.jpg" alt="admin" height="270px" width="270px">
            <p class="title" style="background-color:bisque;">DOCTOR</p>
            <p><button>View</button></p>


        </div>
        <div class="card3">
            <img src="../../assets/patient.jpg" alt="admin" height="270px" width="270px" style="background-color: cornflowerblue;">
            <p class="title" style="background-color:bisque;">PATIENT</p>
            <p><button>View</button></p>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
<footer>
    <p id="icon">
        <a href="" class="fa fa-facebook"></a>
        <a href="" class="fa fa-whatsapp"></a>
        <a href="" class="fa fa-instagram"></a>
        <a href="" class="fa fa-twitter"></a>
      </p>

       <div class="foot">
          <div class="address">
              <h2>Address:</h2><br>
              <p>ITPL Road,</p>
              <p>Healthfield, 2ndcrosscut,</p>
              <p>Chennai, PIN 67389, India.</p>
              <p>+91 - 9873792021</p>
              <p>healthfield@gmail.com</p>
          </div>
          <div class="test">
            <h2>Some Testimonials</h2><br>
            <p class="para">
              They provided very accurate<br> diagnosis.<br /> - Chandrika Kumari<br /><br>
              The Doctors are very experienced <br>and understanding.<br /> -Tia Gohil<br /><br>
              Excellent attention to every detail in <br>diagnosis and caring staff.<br /> - Divya Baug<br /><br>
              
            </p>
          </div>
          <div class="links">
            <h2 style="margin-left: 30px;">Quick links</h2><br>
            <ul >
              <li class="lis-item"><a href="#">OPD Schedule</a></li>
              <li class="lis-item"><a href="#">Events / News</a></li>
              <li class="lis-item"><a href="#">Photo</a></li>
              <li class="lis-item"><a href="#">Gallery</a></li>
              <li class="lis-item"><a href="#">Video</a></li>
              <li class="lis-item"><a href="#">Site Map</a></li>
              <li class="lis-item"><a href="#">Disclaimer</a></li>
            </ul>
          </div>
          <div class="type">
            <p style="line-height: 50px;" class="foot1">&copy; Hospital | &nbsp;All Rights Reserved.</p>
            <p style="line-height: 50px;" class="foot2"></p>
          </div>
      </div>
</footer>
</body>
</html>